.container {
  height: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  margin: 0 var(--lg);
  margin-bottom: var(--xlg);
  @media screen and (max-width: 767px) {
    margin: 0;
    margin-bottom: 0;
  }
  .content {
    margin-top: 6rem;
    height: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: var(--xlg);
    box-shadow: none;
    @media screen and (max-width: 767px) {
      margin-top: 56px;
      padding: var(--sm);
    }
  }
}

.container.noInset {
  margin-bottom: 0 !important;
  margin-left: 0 !important;
  margin-right: 0 !important;
  .content.noInset {
    margin-top: calc(0.5rem * 8);
    height: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 0 !important;
  }
}

.container.noPadding {
  .content.noPadding {
    padding: 0 !important;
  }
}
