.container {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  overflow: visible;
  .title {
    margin-top: var(--lg);
    @include typography(lg, bold);
    color: var(--primary-dark);
    text-align: center;
  }
  .formContainer {
    margin-top: var(--md);
    .formControl {
      margin-bottom: var(--md);
    }
    .formAction {
      margin-bottom: var(--md);
      .separator {
        @include typography(md, bold);
        color: var(--primary-dark);
        text-align: center;
        margin-top: var(--xs);
        margin-bottom: var(--xxs);
      }
      .oktaLogo {
        height: calc(0.5rem * 3);
        width: calc(0.5rem * 3);
        margin-right: var(--xxs);
      }
    }
    .link {
      color: var(--primary-light);
    }
  }
}
