.container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  overflow: auto;
  @include externalLayoutBg();
  flex: 1;
  .cardContainer {
    width: 100%;
    padding: var(--sm);
    display: flex;
    justify-content: center;
    .card {
      max-width: 400px;
      width: 100%;
      background: var(--background-paper);
      box-shadow: var(--box-shadow-4);
      border-radius: 6px;
      padding: var(--sm);
      .cardHeader {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        .logo {
          margin-top: var(--lg) !important;
          width: calc(0.5rem * 20) !important;
        }
        .appTitle {
          text-transform: uppercase;
          @include typography(md, bold);
          color: var(--primary-light);
        }
      }
      .content {
        width: 100%;
      }
    }
  }
}
