$color-primary: #2e5869;
$color-secondary: #e9f4f8;
$theme-background-secondary: var(--background-secondary);
$color-white: #ffffff;
$color-light-sky-blue: #c9e1e7;
$color-dark-blue: #0f3f52;
$color-grey: #9da4a7;
$color-orange: #f28455;
$color-contrast-blue: #353d48;
