@mixin externalLayoutBg {
  background: linear-gradient(to bottom, var(--primary-dark), var(--primary-light));
}

@mixin hideScrollbar {
  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  &::-webkit-scrollbar {
    display: none;
  }
}
