@mixin font_thin {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

@mixin font_regular {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

@mixin font_medium {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}

@mixin font_semibold {
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
}

@mixin font_bold {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}

@mixin font_heavy {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}

@mixin sizing($size, $rule: '') {
  @if $size == xxxs {
    #{$rule}: var(--xxxs);
  } @else if $size == xxs {
    #{$rule}: var(--xxs);
  } @else if $size == xs {
    #{$rule}: var(--xs);
  } @else if $size == sm {
    #{$rule}: var(--sm);
  } @else if $size == md {
    #{$rule}: var(--md);
  } @else if $size == lg {
    #{$rule}: var(--lg);
  } @else if $size == xlg {
    #{$rule}: var(--xlg);
  } @else if $size == xxlg {
    #{$rule}: var(--xxlg);
  } @else if $size == x3lg {
    #{$rule}: var(--x3lg);
  } @else if $size == x4lg {
    #{$rule}: var(--x4lg);
  }
}

@mixin typography($size, $variant: '') {
  @if $variant == bold {
    @include font_bold();
    @include sizing($size, 'font-size');
  } @else if $variant == semibold {
    @include font_semibold();
    @include sizing($size, 'font-size');
  } @else if $variant == heavy {
    @include font_heavy();
    @include sizing($size, 'font-size');
  } @else if $variant == medium {
    @include font_medium();
    @include sizing($size, 'font-size');
  } @else if $variant == thin {
    @include font_thin();
    @include sizing($size, 'font-size');
  } @else {
    @include font_regular();
    @include sizing($size, 'font-size');
  }
}

$font-family: 'Roboto', sans-serif;
$typography-styles: (
  'l-display': (
    font-size: 48px,
    line-height: 56px,
    font-weight: 500,
    letter-spacing: -0.04em,
  ),
  'l-pagetitle': (
    font-size: 32px,
    line-height: 40px,
    font-weight: 500,
    letter-spacing: -0.03em,
  ),
  'l-pageheading': (
    font-size: 24px,
    line-height: 32px,
    font-weight: 500,
    letter-spacing: -0.02em,
  ),
  'l-sectionheading': (
    font-size: 16px,
    line-height: 20px,
    font-weight: 500,
    letter-spacing: -0.02em,
  ),
  'l-callout-lg': (
    font-size: 32px,
    line-height: 32px,
    font-weight: 400,
    letter-spacing: -0.03em,
  ),
  'l-callout-sm': (
    font-size: 24px,
    line-height: 24px,
    font-weight: 400,
    letter-spacing: -0.015em,
  ),
  'l-body': (
    font-size: 16px,
    line-height: 20px,
    font-weight: 400,
  ),
  'l-body-link': (
    font-size: 16px,
    line-height: 20px,
    font-weight: 700,
  ),
  'l-body-sm': (
    font-size: 14px,
    line-height: 20px,
    font-weight: 400,
  ),
  'l-body-sm-link': (
    font-size: 14px,
    line-height: 20px,
    font-weight: 700,
  ),
  'l-caption': (
    font-size: 12px,
    line-height: 16px,
    font-weight: 400,
  ),
  'l-caption-link': (
    font-size: 12px,
    line-height: 16px,
    font-weight: 700,
  ),
  'l-overline': (
    font-size: 10px,
    line-height: 12px,
    font-weight: 500,
    letter-spacing: 0.06em,
    text-transform: uppercase,
  ),
  's-display': (
    font-size: 32px,
    line-height: 12px,
    font-weight: 500,
    letter-spacing: 0.06em,
  ),
  's-pagetitle': (
    font-size: 24px,
    line-height: 32px,
    font-weight: 500,
    letter-spacing: -0.02em,
  ),
  's-pageheading': (
    font-size: 20px,
    line-height: 24px,
    font-weight: 500,
    letter-spacing: -0.02em,
  ),
  's-sectionheading': (
    font-size: 16px,
    line-height: 20px,
    font-weight: 500,
    letter-spacing: -0.02em,
  ),
  's-callout-lg': (
    font-size: 24px,
    line-height: 24px,
    font-weight: 400,
    letter-spacing: -0.015em,
  ),
  's-callout-sm': (
    font-size: 20px,
    line-height: 20px,
    font-weight: 400,
    letter-spacing: -0.015em,
  ),
  's-body': (
    font-size: 16px,
    line-height: 20px,
    font-weight: 400,
  ),
  's-body-link': (
    font-size: 16px,
    line-height: 20px,
    font-weight: 700,
  ),
  's-body-sm': (
    font-size: 14px,
    line-height: 20px,
    font-weight: 400,
  ),
  's-body-sm-link': (
    font-size: 14px,
    line-height: 20px,
    font-weight: 700,
  ),
  's-caption': (
    font-size: 12px,
    line-height: 16px,
    font-weight: 400,
  ),
  's-caption-link': (
    font-size: 12px,
    line-height: 16px,
    font-weight: 700,
  ),
  's-overline': (
    font-size: 10px,
    line-height: 12px,
    font-weight: 500,
    letter-spacing: 0.06em,
    text-transform: uppercase,
  ),
  'default': (
    font-size: 10px,
    line-height: 12px,
    font-weight: 500,
    letter-spacing: 0.06em,
    text-transform: uppercase,
  ),
);

@function get-typography-style($variant) {
  @if (map-has-key($typography-styles, $variant)) {
    @return map-get($typography-styles, $variant);
  } @else {
    @return map-get($typography-styles, 'default');
  }
}

/* 
Usage of typography mixin

.your_class_name {
  @include typography_2('s-pagetitle')
}

-- OR --

.your_class_name {
  @include typography_2('s-pagetitle') {
    font-size: 45px; // you can override the assigned styles
  }
}
*/

@mixin typography_2($variant: 'default') {
  font-family: $font-family;
  font-size: map-get(get-typography-style($variant), font-size);
  line-height: map-get(get-typography-style($variant), line-height);
  font-weight: map-get(get-typography-style($variant), font-weight);
  letter-spacing: map-get(get-typography-style($variant), letter-spacing);
  text-transform: map-get(get-typography-style($variant), text-transform);
  @content;
}
