$pointer-xxxxs: 4px;
$pointer-xxxs: 8px;
$pointer-xxs: 12px;
$pointer-xs: 16px;
$pointer-sm: 24px;
$pointer-md: 32px;
$pointer-lg: 40px;
$pointer-xlg: 48px;
$pointer-xxlg: 56px;
$pointer-xxxlg: 64px;
$pointer-lg-chart: 0px;

$theme-primary-color: var(--primary-color);
