@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --xxxs: 0.25rem;
  --xxs: 0.5rem;
  --xs: 0.75rem;
  --ssm: 0.875rem;
  --sm: 1rem;
  --md: 1.25rem;
  --lg: 1.5rem;
  --xlg: 2rem;
  --xxlg: 2.5rem;
  --x3lg: 3rem;
  --x4lg: 3.5rem;
  --primary-dark: #0f3f52;
  --primary-light: #19889e;
  --primary-contrast-text: #fff;
  --background-paper: #fff;
  --primary-main: #34657f;
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  overflow-y: auto;
  font-size: 16px;
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  min-height: 100vh;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
  display: none;
}

@media screen and (max-width: 767px) {
  html,
  body {
    font-size: 14px;
  }
}

#__next {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
