.container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: var(--background-paper);
  box-shadow: 0px 4px 25px rgba(35, 46, 65, 0.1);
  color: var(--primary-main);
  padding: 0 var(--sm);
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: calc(0.5rem * 8);
  z-index: 90;
  .logo {
    cursor: pointer;
    width: calc(0.5rem * 12);
    margin-right: var(--sm);
    min-width: 98px;
    @media screen and (max-width: 1024px) {
      width: calc(0.5rem * 8);
    }
    @media screen and (max-width: 600px) {
      min-width: calc(0.5rem * 8);
    }
  }
  .navLinks {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    white-space: nowrap;
    margin: 0 8px;
  }
}
