.container {
  color: var(--primary-dark);
  background-color: var(--primary-contrast-text);
  padding: var(--xlg);
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  .gridBox {
    padding-bottom: var(--lg);
    ul {
      list-style: none;
      display: flex;
      flex-wrap: wrap;
      padding: 0;
      li {
        margin-right: var(--lg);
      }
    }
  }
  a {
    color: var(--primary-dark);
    text-align: center;
    font-weight: 500;
    font-size: var(--sm);
    line-height: var(--xlg);
    opacity: 0.8;
    &:hover {
      text-decoration: underline;
    }
  }
  .alignRight {
    text-align: end;
  }
  .copyRightLabel {
    display: flex;
    flex-wrap: wrap;
    font-size: var(--xs);
    line-height: var(--sm);
    font-weight: 400;
    p {
      padding-left: 1em;
    }
  }
}
